In [224]:
# Import Dependencies
import pandas as pd
import os

In [225]:
# read in csv file
csv_path = "Resources/budget_data.csv"
bank_df = pd.read_csv(csv_path)
bank_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [226]:
# The total number of months included in the dataset
total_months = bank_df["Date"].count()
# convert from int to string
total_months= str(total_months)
total_months

'86'

In [227]:
# The net total amount of "Profit/Losses" over the entire period
net_total = bank_df["Profit/Losses"].sum()
# convert from int to string
net_total= str(net_total)
net_total

'22564198'

In [228]:
# The changes in "Profit/Losses" over the entire period and assing to new column, 
# and then the average of those changes
bank_df['Profit_diff'] = bank_df['Profit/Losses'].diff()
bank_df.head()
avg_total = bank_df["Profit_diff"].mean()

# round to 2 decimals
avg_total = round(avg_total,2)
avg_total

# convert from int to string
avg_total= str(avg_total)
avg_total

'-8311.11'

In [248]:
# The greatest increase in profits (amount) over the entire period
max_increase = bank_df["Profit_diff"].max()
# convert from int to string for final result
# round to have no decimal places
max_increase = round(max_increase) 
max_increase
max_increase_str = str(max_increase)

In [249]:
# The greatest increase in profits (date) over the entire period
max_day = bank_df[bank_df['Profit_diff']==max_increase]['Date']
# convert from int to string for final result
max_day = str(max_day)
#extracting just the date from the string output
max_day=(max_day[6:12])
max_day

'Aug-16'

In [253]:
# The greatest decrease in profits (amount) over the entire period
max_decrease = bank_df["Profit_diff"].min()

# round to have no decimals and convert to string
max_decrease = round(max_decrease)
max_decrease
max_decrease_str = str(max_decrease)

In [254]:
# The greatest increase in profits (date) over the entire period
min_day = bank_df[bank_df['Profit_diff']==max_decrease]['Date']
min_day = str(min_day)
#extracting just the date from the string output
min_day=(min_day[6:12])
min_day

'Feb-14'

In [255]:
print(os.linesep.join(['Financial Analysis', '----------------------------', 'Total Months: '+ total_months
                      , 'Total: $'+ net_total, 'Average Change: $'+ avg_total,
                      'Greatest Increase in Profits: '+ max_day + ' ($' + max_increase_str + ')',
                      'Greatest Decrease in Profits: '+ min_day + ' ($' + max_decrease_str + ')']))

Financial Analysis
----------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: Aug-16 ($1862002)
Greatest Decrease in Profits: Feb-14 ($-1825558)